#plateau{
	width:602px;
	height:602px;
}

.case{
	width:96px;
	height:96px;
	border:1px dotted rgba(0,0,0,0.3);
	display:inline-block;
	position: relative;
}

.health{
	position: absolute;
	left: 32px;
	top: -20px;
}


#bloodelf_archer{
	width:96px;
	height:96px;
	background-image:url('../images/bloodelf_archer.png');
	background-repeat:no-repeat;
	background-position:center center;
}

#nightelf_mage{
	width:96px;
	height:96px;
	background-image:url('../images/nightelf_mage.png');
	background-repeat:no-repeat;
	background-position:center center;
}

.bloodelf_archer_lvl1{
	background-image:url('../images/bloodelf_archer_idle_lvl1.gif');
	background-repeat:no-repeat;
	background-position:center center;
}

.bloodelf_archer_lvl2{
	background-image:url('../images/bloodelf_archer_idle_lvl2.gif');
	background-repeat:no-repeat;
	background-position:center center;
}

.bloodelf_archer_lvl3{
	background-image:url('../images/bloodelf_archer_idle_lvl3.gif');
	background-repeat:no-repeat;
	background-position:center center;
}

.nightelf_mage_lvl1{
	background-image:url('../images/nightelf_mage_idle_lvl1.gif');
	background-repeat:no-repeat;
	background-position:center center;
}

.nightelf_mage_lvl2{
	background-image:url('../images/nightelf_mage_idle_lvl2.gif');
	background-repeat:no-repeat;
	background-position:center center;
}

.nightelf_mage_lvl3{
	background-image:url('../images/nightelf_mage_idle_lvl3.gif');
	background-repeat:no-repeat;
	background-position:center center;
}
